<mat-nav-list>
    <div class="logo py-4">
        <img src="../../../assets/logo.png" alt="">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item routerLink="/trash" routerLinkActive="list-item-active">
        <mat-icon>delete_outline</mat-icon>Trash
    </a>
    <a mat-list-item routerLink="/create-employee" routerLinkActive="list-item-active">
        <mat-icon>group_add</mat-icon>Add Employee
    </a>
    <a mat-list-item routerLink="/new-employee-list" routerLinkActive="list-item-active">
        <mat-icon>group_add</mat-icon>New Employee List 
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon>Link 1
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon>Link 2
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon>Link 3
    </a>
</mat-nav-list> 

